// Footer
footer.footer-dark.text-center.py-4
  .container
    p.mb-1 &copy; 2025 BlogMe. All rights reserved.
    p
      | Follow us on
      a(href="#") Facebook
      | 
      a(href="#") Twitter
      | 
      a(href="#") Instagram
